.tophero{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 40px;
    &_nav{
        align-items: center;
        &_ul{
            display: none;
        }
    }
}
.hero{
    &_img{
    width: 100%;
    height: contain;
        
        }
        h1{
            text-align: left;
            font-family: 'Ibarra Real Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323D;
            margin-top: 24px;
        }
        &_button{
            display: flex;
           margin-top: 32px;
            &_left{
                background-color: #000000;
                padding: 18px 16px;
            }
            &_right{
                text-align: center;
                padding: 17px 35px;
                background-color:$normal_button ;
            }
        }
}
.hero_button_right{
    transition: 0.5s;
}
.hero_button_right:hover .hero_button_left{
        background: #000000;

}
.hero_button_right:hover{
    background-color:$hover_button ;
}

@media screen and (min-width: 768px){

    .tophero{
        &_nav{

            &_ul{
                display: flex;
                gap: 42px;
            }
        }
        &_burger{
            display: none;
        }
    }
    .hero{
        position: relative;
        h1{
            margin-top: 56px;
            margin-right: 56px;
            width: 458px;
        }
        &_button{
            margin-top: 48px;
        }
    }
    .div{
        
        background-color: #FAFAFA;
        position: absolute;
    bottom: 0;
    
    }

}
@media screen and (min-width: 1440px){
.container{
    max-width: 1170px;
}
.hero{
    
    h1{
        width: 390px;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446429px;
    }
    &_button{
        margin-top: 53px;
    }

}
}

